body{
	background-color:#CFFC4C;
}
div1{
	float:left;
	width:120px;
	margin:0 0 20px 25px;
	padding:20px;
	text-align:center;
}

div3{
	float:center;
	width: 2500px;
	height: 200px;
	padding: 20px;
	border: 2px solid green;
	background: green;
	color: white;
	font-size:60px;
}

.border-box{
box-sizing: content-box;
}